<h3>this is detail page</h3>

<img src = "{{ album.album_logo }}">

<h1>{{ album.album_title}}</h1>

<h2>{{ album.artist }}</h2>

<h3>Songs:</h3>



<ul>
    {% for song in album.song_set.all %}
        <li>{{ song.song_title }} - {{ song.file_type }}</li>
    {% endfor %}
</ul>

{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}

<form action = "{% url 'music:favorite' album.id %}" method="post">
    
   {% csrf_token %}
    {% for song in album.song_set.all %}
       <input type = "radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}"/>
       <lable for="song{{ forloop.counter }}">
       {{ song.song_title }} - {{ song.file_type }}
            {% if song.is_favorite %}
               <img src="http://findicons.com/files/icons/1620/crystal_project/22/knewstuff.png"/>
            {% endif %}
       </lable><br>
       
    {% endfor %}
	
</form>