{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'music/css/style.css' %}">
<link rel="stylesheet" href="{% static 'music/css/bootstrap.min.css' %}">




{% if all_albums %}
    <h3>Here are all my Albums: </h3>
    <ul>
        {% for album in all_albums %}
        <li><a href = "{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
        {% endfor %}
    </ul>

{% else %}
    <h3>You don't have any albums</h3>
{% endif %}

<script type="text/javascript" src="{% static 'music/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'music/js/bootstrap.min.js' %}"></script>  